.cardButton {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;

    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(155, 0, 0, 0.896) 5px 5px 3px;
    box-sizing: border-box;
    color: white;
    display: inline-flex;

    line-height: 1.25;
    min-height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

    padding: 15px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.cardButton:hover,
.cardButton:focus {
    background-color: #fb8332;
    box-shadow: rgba(155, 0, 0, 0.896) 3px 3px 5px;
    text-shadow: rgba(155, 0, 0, 0.896) 3px 3px 5px;
}

.cardButton:hover {
    transform: translateY(-5px);
}

.cardButton:active {
    background-color: #c85000;
    box-shadow: rgba(155, 0, 0, 0.896) 3px 3px 5px;
    transform: translateY(0);
}


.DisplayCard {
    border-radius: 10%;
    background-color: rgba(1, 32, 1, 0.4);
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}

.detailTable {
    padding: 10px;
    margin: 0 auto;
    border-style: none;
}

.colHeader {
    background-color: rgba(144, 154, 144, 0.68);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    width: 300px;
    height: 40px;
}

.colData {
    font-size: 12px;
    font-weight: light;
    text-align: left;
    padding: 5px;
    max-width: 800px;
}

.detailTable .table-row:hover,
.colData:hover {
    background-color: antiquewhite;
    font-size: 20px;
}